@media (max-width: 991.98px) {
  .offcanvas-collapse {
    position: fixed;
    top: 56px; /* Height of navbar */
    bottom: 0;
    left: 100%;
    width: 100%;
    padding-right: 1rem;
    padding-left: 1rem;
    overflow-y: auto;
    visibility: hidden;
    background-color: #f8f9fa;
    transition: transform 0.3s ease-in-out, visibility 0.3s ease-in-out;
  }
  .offcanvas-collapse.open {
    visibility: visible;
    transform: translateX(-100%);
  }
}

.bg-custom-light {
  background-color: #e7e7e7;
}

.bg-dim {
  background-color: rgba(4, 4, 4, 0.261);
}

.cover {
  object-fit: cover;
}

.opacity-6 {
  opacity: 0.6;
}

.opacity-5 {
  opacity: 0.5;
}

.image-vertical-scroller {
  overflow-y: auto;
  max-height: 460px;
  -webkit-overflow-scrolling: touch;
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none;
}

.image-vertical-scroller::-webkit-scrollbar {
  display: none;
}

.h-scroller {
  position: relative;
  z-index: 2;
  height: 3.75rem;
  overflow-y: hidden;
}

.h-scroller .nav {
  display: flex;
  flex-wrap: nowrap;
  padding-bottom: 1rem;
  margin-top: -1px;
  overflow-x: auto;
  color: rgba(255, 255, 255, .75);
  text-align: center;
  white-space: nowrap;
  -webkit-overflow-scrolling: touch;
}

.h-underline .h-link {
  padding-top: .75rem;
  padding-bottom: .75rem;
  font-size: .875rem;
  color: #6c757d;
}

.text-truncate-custom {
  -webkit-line-clamp: 2;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.custom-modal {
  --bs-modal-width: 90% !important;
}

.custom-modal-body {
  padding-top: 0rem !important;
}

.product-modal-images {
  padding-top : 1rem !important;
  margin:0rem !important;
  width : 30% !important;
  margin-left: 8rem !important;
  margin-right: 8rem !important;

}

.product-modal-data {
  /* padding-top : 1rem !important; */
  /* padding-bottom : 2rem !important; */
  padding-left : 0rem !important;
  margin-left : -4rem !important;
}

.product-modal-vr{
  height : 100%;
  margin: 0px;
}

.cart-modal-vr {
  height : 100%;
  margin: 0px;
  /* width: auto; */
}
.cart-card-vr{
  width: auto !important;
}
.cart-card-modal-vr{
  height : 100%;
  margin: 0px;
  width: auto !important;
}


.product-modal-title, .cart-modal-title {
  margin-left: 1rem;;
  font-weight: 200 !important;
}

.product-modal-brand-name {
  font-size: 1.5rem;;
  font-weight: bold;
  border: solid black;
  width: auto !important;
}

.price-data {
  margin-top: -1rem;
}
.price-value {
  font-size:xx-large;
  font-weight: bolder;
}
.price-value-original {
  margin-left: 0.5rem;
}
.badge-prod-page {
  background-color: rgb(0, 177, 35);
}

.size-buttons {
  margin-right: 0.4rem;;
  border-radius: 0px !important;
}

.product-attribute-name {
  font-weight:normal;
}

.product-attribute-value {
  font-weight: lighter;
  margin-top: -1rem !important;
}
.select-size-field {
  margin-top: -0.5rem !important;
}

.select-size-buttons{
  margin-top: -0.5rem !important;
}
.custom-add-cart-button{
  border-color: black !important;
}

.custom-add-cart-button button:disabled,
button[disabled]{
  border: 1px solid #999999 !important;
  background-color: #cccccc !important;
  color: #666666 !important;
  border-radius: 0;
}


.select-quantity {
  width: 3rem ;
}

.show-cart-button{
  border-radius: 0px !important;
  box-shadow: #666666 !important;
}

.search-bar {
  border-radius: 0px !important;
}

.custom-card{
  border-radius:0px !important;
  cursor:pointer;
}
.available-sizes {
  margin-bottom: 0px;
}

.available-size-button {
  font-size:smaller !important;
  scale: 0.65;
  font-weight: bold !important;
  /* height: auto; */
  margin: -3px;
}

.available-in {
  font-size: small;
  font-weight:300;
}

.card-price-new{
  font-weight: bold !important;
  color: black;
}

.card-price-old{
  padding-left: 0.5rem;
  font-size: smaller;
  font-weight: normal !important;
}
.card-title-custom{
  font-weight: 200 !important;
}

.product-view-title{
  font-weight: 200 !important;
}

.custom-page-bar{
  --bs-pagination-border-radius: 0px !important;
  --bs-pagination-active-bg: black !important;
  --bs-pagination-color: black !important;
  --bs-pagination-active-border-color:black !important;
  --bs-pagination-hover-color: black !important;
}

.finalize-puchase{
  display: contents;
  margin-left: 0rem !important;
  /* bottom: rem;
  position:relative ;
  width: inherit; */
}


.cart-tile {
  width: auto;
  /* margin-bottom: 1rem; */
  margin-bottom: 1rem;
  border: 1px solid rgb(149, 149, 149);
}

.cart-tiles{
  /* padding-: 2rem; */
  /* border: 1px solid black;
  border-radius: 5px; */
  margin-left: 2rem;
}

.cart-total-section{
  padding:0rem;
  margin:0.2rem;
  margin-bottom: 1rem;
  border: 1px solid rgb(149, 149, 149);
  height: fit-content;
}

.cart-item-details{
  margin: -0.4rem;
  padding: 0rem;
  
}

.cart-item-detail{
  /* margin: -0.7rem; */
  /* padding: 0rem; */
  margin-top: 0.5rem !important;
  
}

.cart-item-title{
  font-size: medium;
  font-weight: 200;
}

.cart-item-size{
  font-size: small;
  font-weight: 200;
}

.cart-item-quantity{
  font-size: small;
  font-weight: normal;
}
.cart-item-quantity-field{
  width: 3rem;
  /* margin-bottom: 0.3rem; */
}
.cart-items-text-display{
  font-size: x-large;
  font-weight: 100;
  margin-top: 1rem !important;
  margin-left: 2rem !important;
  margin-bottom: 1rem !important;

}
.cart-item-delete{
  right: -1rem !important;
  position: relative;
  color: #6c757d;
  cursor:pointer; 
}

.final-purchase-button{
  /* background: green  !important; */
  border-radius: 0px !important;
  border-color: black !important;
}

.purcahse-item-key{
  font-weight: 200;
}

.purcahse-item-value{
  font-weight: bolder;
}

.purcahse-item{
  margin-top: -0.2rem !important;
  margin-left: 0rem !important;
}

.purchase-summary{
  /* display: i?nline !important; */
  margin-top: 1rem !important;
  /* margin-top: 1rem !important; */
  font-weight: bolder;
  font-size: large;
  margin-left: 1rem !important;

  /* margin-bottom: 1rem; */
}
.proceed-to-checkout{
  display: grid;

}
.purchase-details{
  /* display: inline; */
  display: inline !important;
  /* margin-top: -5rem !important; */
  /* margin-bottom: 1rem; */
  /* padding: 2rem !important; */
}

.purchase-details-hr{
  margin-bottom: auto;
}


 /* Filters */
 .filters-view .form-check-input {
  border-radius: 0px !important;
  border: 1px solid;
 }

 .filters-view .form-check-input:checked {
  background-color: #000000;
  border-color: #bbbbbb;
}

 .filter-element{
  font-weight: 200 !important;
} 
 .filter-name{
  /* margin-top: 2rem !important; */
  font-size: larger;
  margin-bottom: 0.5rem;
  font-weight: 400;
  line-height: 1.5;
  color: var(--bs-heading-color);
} 


.border-radius-0{
  border-radius: 0px !important;
}